@model IEnumerable<Bookflix.Models.Novedad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Novedades</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Publicar Nueva Novedad</button></a>
</p>

@if (Model.ToList().Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPublicacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaOcultacion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaOcultacion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>
        No hay Novedades cargadas.
    </p>
}
